
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "resources/sass/common.scss";
// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

td.action-column {
    display: flex;
    justify-content: center;
}

td.action-column * {
    margin-right: 2px;
    margin-left: 2px;
}

td i.fa-close{
    min-width: 12px;
}

input.color-input{
    width: 90px;
    height: 90px
}
